.active-true {
  border: $player-active ridge 5px;
}

.active-false {
  border: $intel-assassin ridge 5px;
}

.activeHint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.active-true,
.active-false {
  h3 {
    font-size: 1.4em;
  }

  p {
    font-size: 1.2em;
  }
}

strong {
  color: $player-active;

}

.pass {
  padding: 5px 5px;
  font-size: 14px;
  color: white;
  background: $button-default;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: black 1.5px 1.5px 2px;

  &:hover {
    background: $player-active;
    cursor: pointer;
  }
}