.StartScreen {
  position: relative;
  background: $archer-vice;
  background-position: center;
  background-size: cover;
  border: silver 3px solid;
  border-radius: 5px;
  padding: 30px;
  height: 60vh;
  width: 40vw;

  h2,h4 {
    font-family: $header-font;
    margin-bottom: 5px;
  }

  h4 {
    margin-bottom: 25px;
  }

  nav {
    height: 60%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .start-btn {
    height: 46px;
    width: 200px;
    margin: 15px;
  }

}

