.overlay {
  position: absolute;
  z-index: 499;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.091);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  height: 200px;
  width: 600px;
  background: rgba(255, 255, 255, 0.975);
  color: rgb(45, 45, 45);
  border: 2px dashed rgb(131, 131, 131);
  font-size: 32px;
  z-index: 700;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}