.Board {
  display: flex;
  flex-direction: column;
  align-items: center;

  .turn-status {
    margin-bottom: 12px;
    margin-top: -20px;
  }
}

.gameboard {
  background: rgb(21, 21, 24);
  border-radius: 8px;
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: repeat(5, 1fr);
  grid-gap: 5px;
  border: 3px solid rgb(62, 85, 104);
}

.case-file {
  display: flex;
  align-items: center;
  height: 90px;
  width: 130px;
  border-radius: 5px;
  background: $intel-base;
}

.case-title {
  background: #FFFFFF;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .word-txt {
    text-align: center;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 500;
    padding: 10px 0;
    color: rgb(108, 93, 74);
  }
}

.Active {
  color: $player-active;
}