.Main {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 3fr 1fr;
  margin: 0 20px;
  justify-items: center;
  align-items: center;
}

.temp-board {
  background: black;
  // width: 100%;
  min-height: 400px;
  border-radius: 5px;
  padding: 20px;
}

