@import './normalize.scss';
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  background: black;
}

@import '../components/App/App';
@import '../components/Header/Header';
@import '../components/StartScreen/StartScreen';
@import '../components/RuleList/RuleList';
// @import '../components/NewGame/NewGame';
@import '../components/JoinGame/JoinGame';
@import '../components/Lobby/Lobby';
@import '../components/Main/Main';
@import '../components/Main/Board/Board';
@import '../components/Main/Score/Score';
@import '../components/Main/AgentInput/AgentInput';
@import '../components/Main/Board/Card/Card';
@import '../components/Main/AgentHUD/AgentHUD';
@import '../components/ConfDialog/ConfDialog';
@import '../components/ReplayScreen/ReplayScreen';

body {
  margin: 0;
  height: 100vh;
  color: white;
  background: url('../images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}