$intel-blue: #C1C6EE;
$intel-blue-accent: #7084B8;
$intel-red: #DEA2A2;
$intel-red-accent: #8F6C6C;
$intel-base: #F3E4BD;
$intel-base-accent: #B8A792;
$intel-assassin: #2B2B2B;
$intel-assassin-accent: #545454;
$intel-text-bg: rgb(235, 213, 186);

$player-active: #4BF52F;
$player-inactive: #F52F2F;

$team-blue-bg: #5861B4;
$team-blue-border: #1A2858;
$team-red-bg: #B44646;
$team-red-border: #531616;

$overlay-filter: rgba(6, 6, 6, 0.66);
$faint-gray: rgba(130, 127, 123, .4);
$archer-vice: url("https://i.imgur.com/Z4xMr4W.png");

$header-font: 'Krona One', sans-serif;
$button-default: 
  linear-gradient(180deg, rgb(189, 189, 189) 0%, rgba(255, 255, 255, 0) 100%), 
  rgb(130, 127, 123);
$button-hover: $intel-assassin;