
.front {

  &.clickable {
    cursor: pointer;
  }

  &.red {
    background: $intel-red;
    border: 1px solid $intel-red-accent;
  }
  
  &.blue {
    background: $intel-blue;
    border: 1px solid $intel-blue-accent;
  }

  &.bystander {
    background: $intel-base;
    border: 1px solid $intel-base-accent;
  }

  &.assassin {
    background: $intel-assassin;
    border: 1px solid $intel-assassin-accent;
  }
}

.word-bg {
  background: #FFFFFF;
  width: calc(100% - 3px);
  display: flex;
  align-items: center;
  justify-content: center;

  .word-txt {
    text-align: center;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 500;
    padding: 10px 0;
    color: rgb(108, 93, 74);
  }
}